numpy==1.23.5  # Downgrade numpy to a stable version
numba==0.59.0
streamlit==1.32.0
pandas==2.1.4
matplotlib==3.7.1  # Downgrade matplotlib to a stable version
scikit-learn==1.3.2
transformers==4.36.2
sentence-transformers==2.2.2
torch==2.1.2 --index-url https://download.pytorch.org/whl/cpu
sentencepiece==0.2.0
SpeechRecognition==3.10.0
pydub==0.25.1
